<div class="text-center py-4">
    <h3>PRODUCT MANAGENENT</h3>
</div>

<div class="col-12">
                        <div class="bg-light rounded h-100 p-4">
                            <div class="d-flex justify-content-end my-3">
                                <a href="/admin/addproduct"><button class="btn btn-success">Add New Products</button></a>
                            </div>
                            <div class="table-responsive">
                                <table class="table  table-hover">
                                    <thead class="align-middle">
                                        <tr>
                                            <th scope="col">Image</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Brand</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Actions</th>
                                            

                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        {{#each products}}
                                        <tr>
                                            <td><img style="width: 100px;" src='http://res.cloudinary.com/dhelj3ru4/image/upload/v1684071806/{{image.[0]}}.jpg' alt="productImage"></td>
                                            <td>{{name}}</td>
                                            <td>{{bname}}</td>
                                            <td>{{price}}</td>
                                            <td>{{quantity}}</td>
                                            <td>{{category.name}}</td>
                                            <td><a href="/admin/deleteproduct/{{_id}}"><button class="btn btn-danger"><i class="bi bi-x-circle-fill "></i></button></a>
                                            <a href="/admin/updateproduct/?id={{_id}}"><button class="btn btn-primary"><i class="bi bi-pencil-square"></i></button></i></a> 
                                            {{#if status}}
                                            <a href="/admin/listproduct/{{_id}}"><button class="btn btn-success">List</button></a>
                                            {{else}}
                                            <a href="/admin/unlistproduct/{{_id}}"><button class="btn btn-danger">Unlist</button></a> 
                                            {{/if}}
                                            </td>
                                      
                                           
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                      <script>
        var mylink=document.getElementById("product")
        mylink.classList.add("active")
      </script>