<div class="col-12">
    <div class="bg-light rounded h-100 mt-5 p-4">
        <h6 class="mb-4">Sales Report</h6>
        <div class="row w-100">
            <div class="col-12 col-md-6">
                <form action="/admin/sales" class="d-flex" method="">
                    <div class="p-2">
                        
                        <input class="form-control" type="date" value="{{from}}" name="from">
                    </div>
                    <div class="p-2">
                        
                        <input class="form-control" type="date" value="{{to}}" name="to">
                    </div>

                    <div class="p-2">
                        
                        <a href=""><button class="btn btn-primary" type="submit">Filter</button></a>
                    </div>
                </form>
            </div>

            <div class="p-2 col-12 col-md-6 d-flex justify-content-end">
                <a class="me-3" href=""><button onclick="printDiv('sales-table')" class="btn btn-danger ">Download PDF</button></a>
                <a href="/admin/downloadexcel/?from={{from}}&to={{to}}"><button class="btn btn-success">Download
                        Excel</button></a>
            </div>
        </div>
        <div id="sales-table" class="table-responsive">
            <table class="table  table-hover">
                <thead>
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">OrderID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each deliveredProducts}}
                    <tr>
                        <td>{{fname}}</td>
                        <td>{{_id}}</td>
                        <td>{{date}}</td>
                        <td>{{paymentMethod}}</td>
                        <td>{{finalAmount}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;

    }
</script>