<div class="col-12">
    <div class="bg-light rounded h-100 mt-5 p-4">
        <h6 class="mb-4 text-center h2 " style="font-weight: 900;">Order History</h6>
        <div class="table-responsive">
            <table class="table  table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">OrderId</th>
                        <th scope="col">Date</th>
                        <th scope="col">Payment method</th>
                        <th scope="col">Status</th>
                        <th scope="col">Total amount</th>
                        <th scope="col">view details</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each userOrder}}
                    <tr>

                        <td>{{_id}}</td>
                        <td>{{date}}</td>
                        <td>{{paymentMethod}}</td>
                        <td>{{orderStatus}}</td>
                        <td>{{finalAmount}}</td>
                        
                        <td><a href="/orderDetails/{{_id}}"><button class="btn btn-success">view details</button></a></td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>