<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">

<div class="container-xl px-4 mt-5">
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4  d-flex justify-content-center" style="height: 24rem;">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0 w-50  ">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile  mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png"
                        alt="" width="100%">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4"></div>
                    <!-- Profile picture upload button-->
                    <button class="btn btn-dark btn-lg" type="button">Upload new image</button>

                </div>

            </div>
            <div class="card mb-4 mb-xl-0 w-50  " style="height:24rem;">
                <div class="">
                    <div class="text-center card-header">Wallet Amount</div>
                    <div class="text-center d-flex justify-content-center mt-3 "><span class="mr-2"
                            style="font-weight: bold; color: rgb(10, 209, 13);">$</span><span>{{userDatas.wallet}}</span>
                    </div>

                    <div class="d-flex justify-content-center w-100" style="margin-top: 15rem;">

                        <!-- Button trigger modal-->

                        <button class="bg-warning p-1 rounded" data-toggle="modal" data-target="#modalCart">Add
                            money</button>


                        <!-- Modal: modalCart -->
                        <div class="modal fade" id="modalCart" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <!--Header-->
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Add Money To Wallet</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <!--Body-->
                                    <div class="modal-body">
                                        <form id="addmoneyform">
                                            <!-- Amount input -->
                                            <div class="form-outline mb-4">
                                                <input type="number" id="amount" name="amount" class="form-control" />
                                                <label class="form-label" for="amount">Enter Amount</label>
                                            </div>
                                            <!-- Submit button -->
                                            <button type="submit" class="btn btn-primary btn-block">Add Money</button>
                                        </form>
                                    </div>
                                    <!--Footer-->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-primary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal: modalCart -->
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form action="/updatedetails" method="post">
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <input type="hidden" name="id" value="{{userDatas._id}}">

                                {{!-- <input class="form-control" id="inputFirstName" type="hidden" placeholder="id"
                                    name="" value="{{_id}}"> --}}
                                <label class="small mb-1" for="inputFirstName">First name</label>
                                <input class="form-control" id="inputFirstName" type="text"
                                    placeholder="Enter your first name" name="fname" value="{{userDatas.fname}}">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Last name</label>
                                <input class="form-control" id="inputLastName" type="text"
                                    placeholder="Enter your last name" name="lname" value="{{userDatas.lname}}">
                            </div>
                        </div>

                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Email</label>
                            <input class="form-control" id="inputUsername" disabled type="email"
                                placeholder="Enter your email" name="email" value="{{userDatas.email}}">
                        </div>

                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control" id="inputPhone" type="tel"
                                    placeholder="Enter your phone number" name="mobile" value="{{userDatas.mobile}}">
                            </div>

                            <!-- Save changes button-->
                            <div
                                class="col-md-6 d-flex flex-direction-column justify-content-center align-items-center">
                                <button class="btn btn-dark btn-lg" type="submit">Save changes</button>
                            </div>
                    </form>
                </div>
            </div>



        </div>
        <div class="d-flex flex-row">
            <div class="me-2">
                <button id="my-orders-btn" class="bg-warning p-1 rounded mx-3">My Orders</button>
            </div>
            <div class="">
                <button id="couponss" class="bg-warning p-1 rounded mr-3">View Coupons</button>
            </div>


         

            <button class="bg-warning p-1 rounded" data-toggle="modal" data-target="#modalCart1">view wallet
                history</button>


            <!-- Modal: modalCart -->
            <div class="modal fade" id="modalCart1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!--Header-->
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Wallet History</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <!--Body-->
                        <div class="modal-body">
                            {{#each walletHistory}}
                            <div class="d-flex  w-100 mb-1 " style="border: solid 1px gray;">
                                <div class="w-50 ml-1 " style="font-weight: bold;">
                                    <span>Date</span><span>{{tdate}}</span>
                                </div>
                                {{#if (eq sign "credit")}}
                                <div class="w-50 d-flex justify-content-end"><span></span><span
                                        class="text-success mr-2" style="font-weight: bold;">+{{amount}}</span></div>
                                {{else}}
                                <div class="w-50 d-flex justify-content-end"><span></span><span class="text-danger mr-2"
                                        style="font-weight: bold;">-{{amount}}</span></div>
                                {{/if}}
                            </div>
                            {{/each}}
                        </div>
                        <!--Footer-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
           



        </div>
    </div>

      <footer class="ftco-footer ftco-section container-fluid mt-5">
      <div class="container">
      	<div class="row">
      		<div class="mouse">
						<a href="#" class="mouse-icon">
							<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
						</a>
					</div>
      	</div>
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Minishop</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Menu</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Shop</a></li>
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Journal</a></li>
                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Help</h2>
              <div class="d-flex">
	              <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
	                <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
	                <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
	                <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
	                <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
	              </ul>
	              <ul class="list-unstyled">
	                <li><a href="#" class="py-2 d-block">FAQs</a></li>
	                <li><a href="#" class="py-2 d-block">Contact</a></li>
	              </ul>
	            </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
          </div>
        </div>
      </div>
    </footer>
    


</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>



<script>


    $(document).ready(function () {
        $('#addmoneyform').submit(function (event) {
            event.preventDefault(); // Prevent the default form submission
            var amount = document.getElementById('amount').value;
            $.ajax({
                type: 'POST',
                url: '/addmoney',
                data: {
                    amount
                },
                success: function (data) {

                    razorPayment(data)

                },
                error: function (xhr, textStatus, error) {

                    console.log(xhr.statusText + ': ' + xhr.responseText);
                }
            });
        });
    });

    function razorPayment(value) {
        const order = value.razorpayDetails
        // razor pay
        var options = {
            "key": "rzp_test_1qaKi1mXcnedgJ", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Acme Corp", //your business name
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
            "handler": function (response) {
                veryfyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar", //your customer's name
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
        // razor pay
    }

    function veryfyPayment(order, payment) {

        $.ajax({
            url: "/addmoneysuccess",
            method: "post",
            data: { order, payment },
            success: function (response) {
                if (response.failed) {
                    swal("Oops!", "something went wrong", "error");
                } else if (response.addmoney) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'Money added to wallet Sucessfully',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.reload(); // Reload the page
                        }
                    });
                }

            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
                swal("Error!", "An error occurred.", "error");
            }
        });

    }


</script>
<script>
    $(document).ready(function () {
        $('#my-orders-btn').click(function () {
            window.location.href = '/myorders';
        });
    });

    $(document).ready(function () {
        $('#couponss').click(function () {
            window.location.href = '/userCoupons';
        });
    });
</script>