<section class="container ">
    <div class="row border pb-2 mt-5 justify-content-center">

        {{!-- form div --}}
        <div class="col-md-6 ">
            <h4 class="text-center">Update Your Address</h4>
            <form class="border p-3 " action="/updateaddress" method="post">
            {{#with addressEditData}}
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Name</label>
                        <input type="hidden" class="form-control" name="_id" value="{{_id}}" id="inputAddress" >
                        <input type="text" class="form-control" name="name" value="{{name}}" id="inputAddress" placeholder="Enter name">
                    </div>
                    
                </div>
                
                 <div class="form-group">
                    <label for="inputAddress">Mobile</label>
                    <input type="number" class="form-control" name="mobile" value="{{mobile}}" id="inputAddress" placeholder="Mobile">
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" name="address" value="{{address}}" id="inputAddress" placeholder="Enter Address">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Country</label>
                        <input type="text" name="country" value="{{country}}" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputCity">State</label>
                        <input type="text" name="state" value="{{state}}" class="form-control" id="inputCity">
                    </div>
                    
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" name="city" value="{{city}}" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Pin</label>
                        <input type="text" name="pin" value="{{pin}}" class="form-control" id="inputCity">
                    </div>
                    
                </div>
               <div class="text-center">
                <button type="submit" class="btn btn-primary">Update Address</button>
               </div>
            {{/with}}
            </form>
        </div>
        {{!-- form div end --}}

      
     
    </div>
</section>